*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target
project/target
build
dist
.gradle
.classpath
.project
.settings
.env
/.target
/bin
/logs/**
/conf/application.user.*.conf

.DS_Store
.sass-cache
**\.DS_Store
.idea
.idea_modules
*.iml
*.log
/dist/
.cache-main
.cache-tests
.sbtserver.lock

